* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(53, 199, 53);
  color: white;
  font-size: 70px;
  padding: 20px;
}
.content-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features {
  width: 50%;
  padding: 20px;
}

.content:last-child div {
  margin-left: 15px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.content i {
  font-size: 80px;
  margin-right: 15px;
}

.content h1 {
  font-size: 30px;
}

.content p {
  font-size: 23px;
}
.form-box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 350px;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form input {
  display: block;
  height: 20px;
  padding: 20px;
  outline: none;
  border: none;
  margin: 10px 0;
  border-radius: 10px;
  width: auto;
}

.form input::placeholder {
  font-size: 20px;
}

.form button {
  display: inline-block;
  border: none;
  color: white;
  background-color: orangered;
  padding: 5px 10px;
  font-size: 30px;
}
.form p {
  color: white;
  font-size: 20px;
  margin-top: 5px;
}
